/apsys.casino.domain.testing/bin
/apsys.casino.domain.testing/obj
/apsys.casino.domain/bin
/apsys.casino.domain/obj
/apsys.casino.webapi.testing/bin
/apsys.casino.webapi.testing/obj
/apsys.casino.webapi/bin
/apsys.casino.webapi/obj
